

<div class="container-fluid">
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <h2 class="text-center">Type a Quote</h2>
<br>
        <div class="form-group">
  
            <label for="quote">Origin/Author</label>
            <input type="text" class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote" #quote='ngModel' required>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
              <p>Field is required</p>
            </div>
        
        <div class="form-group">
  
            <label for="author">Quote/Inspiration </label>
            <textarea class="form-control" id="author" rows="4" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required></textarea>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
              <p>Field is required</p>
            </div>
        </div>
        <div class="form-group">
  
        <button style="background-color: black;" type="submit" class="btn btn-success">Submit Quote</button>
    
  </div>
